.title{
    display: block;
    background-image:url(../../assets/images/bg-small.png) ;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
    max-width:100vw;
    height:376px;
    padding: 53px;
}