.header {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 25px;
    height: 76px;
    margin-bottom: 36px;

    svg:first-of-type {
        path {
            stroke: var(--text-color);
        }
    }
}
.measurements{
    padding: 0 15px;
    .measurement{
        padding-bottom: 24px;
        border-bottom: 2px solid var(--search-bg-color)
    }
    ul{
        margin-top: 24px;
        li{
            cursor: pointer;
            margin-bottom: 24px;
            &:hover{
                transition: all 0.15s;
                color:var(--tertiary-color);
            }
        }
    }
}

