$primary-color:#43D049;
$secondary-color:#EB5757;
$tertiary-color:#22A2BD;
$layout-color-dark:#5B6975;
$layout-color-light:#BDBDBD;
$gray-text-d:#6E798C;
$gray-text-l:#828282;
$white:#ffffff;
$black:#000;
$light:#FCFCFC;
$dark:#0B1E2D;
$secondary-bg-color:#152A3A;
$additional-gray: #F2F2F2;


